#app{
    height:100vh;
}

.heading{
    display: inline-block;
    position: relative;
    top: 30px;
}

.jumbo{
    background-color:#197690;
    color:#61dafb;
    height:100vh;
}

#poster{
    height: 200px;
}

#title{
    font-size: 20px;
    font-weight: bold;
    color:#052556;
}

.act{
    border-right: 1px solid;
    padding-right: 15px;
    padding-left: 5px;
}

#actor{

}